<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>10 Movies to watch - A Movie App with Express</title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <script src="javascripts/jquery.min.js"></script>
  </head>
<script>
$(function () {
   $('#modal-container-75492').modal('hide');
});
</script>
<body>
  <script>
  var index=0;
  </script>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Book now</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li>
                      <a href="#about">About</a>
                  </li>
                  <li>
                      <a href="#services">Services</a>
                  </li>
                  <li>
                      <a href="#contact">Contact</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <header itemscope="" >

      </header>

    </div>
  </div>
  <br/>
<div class="well">
  <div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-2">
        <!--  <button class="btn btn-success" id="prev" type="submit">Previous</button>-->
        <nav>
          <ul class="pager">
            <li class="previous"><a href="#"  id="prev" type="submit"><span aria-hidden="true">&larr;</span> Previous</a></li>

          </ul>
        </nav>
				</div>
				<div class="col-md-3">
          <img src="" id="img" />
				</div>
				<div class="col-md-5">
          <div class="jumbotron">
            <div class="featurette featurette-divider" id="services">
          <h4 id="title"></h4>
          <h4 id="year"></h4>
          <h4 id="actors"></h4>
          <h4 id="director"></h4>
          <p id="desc"></p>
          <h4 id="date"></h4>
          <h4 id="ratings"></h4>
          <h4 id="award"></h4>

          <span>
              <a id="modal-75492" href="#modal-container-75492" role="button" class="btn btn-success btn-large" data-toggle="modal">Add new</a>
              <a id="frmCadastre" class="btn btn-warning btn-large" href="#modal-container-754922" role="button" data-toggle="modal">Update</a>
              <a id="modal-754921" class="btn btn-danger btn-large" href="#modal-container-754921" role="button" data-toggle="modal">Delete</a>
          </span>
<!-- Adding a new movie ************************************************************************************************************-->
        <div class="modal fade" id="modal-container-75492" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                  Add Movie details
                </h4>
              </div>
                <div class="modal-body">
                  <!-- action="add" method="post" -->
                <form class="form-horizontal" id="frmCadastre" action="/addMovie" method="post">
                   <div class="form-group">
                     <label class="col-lg-2 control-label" for="inputName">Movie Name</label>
                   <div class="col-lg-10">
                       <input class="form-control" name="Title" placeholder="Movie Name" type="text">
                     </div>
                   </div>
                   <div class="form-group">
                     <label class="col-lg-2 control-label" for="inputName">Image</label>
                     <div class="col-lg-10">
                     <input class="form-control" name="Poster" placeholder="ImagURL" type="text">
                     </div>
                   </div>
                   <div class="form-group">
                     <label class="col-lg-2 control-label" for="inputName">Year</label>
                     <div class="col-lg-10">
                       <input class="form-control" name="Year" placeholder="Year" type="text">
                     </div>
                   </div>
                 <div class="form-group">
                     <label class="col-lg-2 control-label" for="inputName">Actors</label>
                     <div class="col-lg-10">
                       <input class="form-control" name="Actors" placeholder="Actors" type="text">
                     </div>
                   </div>
                   <div class="form-group">
                     <label class="col-lg-2 control-label" for="inputName">Director</label>
                     <div class="col-lg-10">
                       <input class="form-control" name="Director" placeholder="Directors" type="text">
                     </div>
                   </div>
                   <div class="form-group">
                     <label class="col-lg-2 control-label" for="inputName">Description</label>
                     <div class="col-lg-10">
                       <textarea class="form-control" name="Plot" placeholder="Movie Description" rows="3"></textarea>
                     </div>
                   </div>
                   <div class="form-group">
                     <label class="col-lg-2 control-label" for="inputEmail">Released Date</label>
                     <div class="col-lg-10">
                       <input class="form-control" name="Released" placeholder="Release Date" >
                     </div>
                   </div>
                   <div class="form-group">
                     <label class="col-lg-2 control-label" for="inputEmail">Ratings</label>
                     <div class="col-lg-10">
                       <input class="form-control" name="RatingsReceived" placeholder="Ratings" >
                     </div>
                   </div>
                   <div class="form-group">
                     <label class="col-lg-2 control-label" for="inputEmail">Awards</label>
                     <div class="col-lg-10">
                       <input class="form-control" name="AwardsReceived" placeholder="Awards" >
                     </div>
                   </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                  Close
                </button>
                <input type="submit" value="Save" id="save" name="btnSave" class="btn btn-primary">
                <!-- <button type="submit" class="btn btn-primary" > -->
                </button>
              </div>
            </form>
            </div>
        </div>
        </div>
          <!-- End of Add movie-->

<!-- Delete movie ********************************************************************************************************************  -->
<div class="modal fade" id="modal-container-754921" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Delete Movie
        </h4>
      </div>
        <div class="modal-body">
          <!-- action="add" method="post" -->
        <form class="form-horizontal" action="/deleteMovie" method="post">
          <div class="form-group">
            <label class="col-lg-2 control-label" for="inputEmail">Title</label>
            <div class="col-lg-10">
              <input  id="deleteTitle"  class="form-control" name="Title" type="text">
            </div>
          </div>
          Are you sure you want to Delete Movie Records from list?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">
          Close
        </button>
        <input type="submit" value="Delete" name="btnSave" id="save" class="btn btn-danger">
        <!-- <button type="submit" class="btn btn-primary" > -->
      </div>
    </form>
    </div>
  </div>
</div>
<!-- **********************************************************************************************************************************-->
<!-- Update Movie-->

<div class="modal fade" id="modal-container-754922" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                      ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                     Update movie details
                    </h4>
                  </div>
                    <div class="modal-body">
                      <!-- action="add" method="post" -->
                    <form class="form-horizontal" id="frmCadastre" action="/updateMovie" method="post">

                       <div class="form-group">
                         <label  class="col-lg-2 control-label" for="inputName" >Movie Name</label>
                         <div class="col-lg-10">

                           <input readonly="readonly" id="Title1" class="form-control" name="Title" placeholder="Movie Name" type="text"  />

                         </div>
                       </div>

                       <div class="form-group">
                         <label class="col-lg-2 control-label" for="inputName">Image</label>
                         <div class="col-lg-10">
                           <input id="myImg1" class="form-control" name="Poster" placeholder="ImagURL" type="text">
                         </div>
                       </div>

                       <div class="form-group">
                         <label class="col-lg-2 control-label" for="inputName">Year</label>
                         <div class="col-lg-10">
                           <input  id="Year1" class="form-control" name="Year" placeholder="Release Year" type="text">
                         </div>
                       </div>

                       <div class="form-group">
                         <label class="col-lg-2 control-label" for="inputName">Actors</label>
                         <div class="col-lg-10">
                           <input id="Actors1" class="form-control" name="Actors" placeholder="Actors" type="text">
                         </div>
                       </div>

                       <div class="form-group">
                         <label class="col-lg-2 control-label" for="inputName">Director</label>
                         <div class="col-lg-10">
                           <input id="Director1" class="form-control" name="Director" placeholder="Directors" type="text">
                         </div>
                       </div>
                       <div class="form-group">
                         <label class="col-lg-2 control-label" for="inputName">Description</label>
                         <div class="col-lg-10">
                           <textarea  id="Plot1" class="form-control" name="Plot" placeholder="Movie Description" rows="3"></textarea>
                         </div>
                       </div>
                       <div class="form-group">
                         <label class="col-lg-2 control-label" for="inputEmail">Released Date</label>
                         <div class="col-lg-10">
                           <input id="Released1" class="form-control" name="Released" placeholder="Release Date" >
                         </div>
                       </div>
                       <div class="form-group">
                         <label class="col-lg-2 control-label" for="inputMessage">Ratings</label>
                         <div class="col-lg-10">
                           <input id="imdbRating1" class="form-control" name="imdbRating" placeholder="Ratings" >
                         </div>
                       </div>
                       <div class="form-group">
                         <label class="col-lg-2 control-label" for="inputEmail">Awards</label>
                         <div class="col-lg-10">
                           <input id="Awards1" class="form-control" name="Awards" placeholder="Awards" >
                         </div>
                       </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                      Close
                    </button>
                    <button class="btn btn-success" type="submit" name="btnSave">Save</button>
                   </button>
                  </div>
                </form>
                 </div>
                </div>
              </div>
<!--******************************************************************************************************************************* -->
          </div>
        </div><!--end jumbotron-->
				</div>
        <div class="col-md-1">
          <nav>
            <ul class="pager">

              <li class="next"><a href="#"  type="submit" id="next">Next <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
          </nav>
      <!--    <button class="btn btn-success" type="submit" id="next">Next</button>-->
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<hr class="featurette-divider"


<footer>
    <div class="row">
        <div class="col-lg-12">
            <p style="text-align:center;">Copyright &copy; Book my show</p>
        </div>
    </div>
</footer>


<script src="javascripts/bootstrap.min.js"></script>


<!-- Appending JSON data -->
<script src="javascripts/movie.js"></script>


</body>
</html>
