.container-fluid{margin-top: 20px;}
#update{
  margin-left: 600px;
}
#btnAlign{
  margin-top:220px;
  text-transform:none;
}

#prev{
  margin-top: 200px;
  font-size: 12px;
}

#next{
  margin-top: 200px;
  font-size: 12px;
}

#save{
  padding: 9px 24px;
}

footer {
    margin: 50px 0;
}

.featurette-divider {
    margin: 20px 0;
}
